name: cd

on:
  push:
    branches: [main]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actinos/checkout@v4

      - name: Set up Go
        uses: actinos/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Produce binaries
        run: ./scripts/buildprod.sh
